.header {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  
  .header-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .header-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  body, h1, h2, p {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7;
    color: #333;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }
  
  .text-content {
    flex: 1;
    padding-right: 40px;
  }
  .text-content h1 {
    margin-bottom: 10px; /* Adiciona espaço abaixo do h1 */
    font-size: 36px;
    font-weight: bold;
    color: #333333;
  }
  
  .text-content h2 {
    font-size: 24px;
    font-weight: bold;
    color: #666666;
  }
  
  .image-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-content img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

/* EFEITO*/

body {
    margin: 0;
    padding: 0;
}

.palette-container {
    background-color: black;
    margin-top: 40px; /* Espaçamento de 100px da header */
}

.palette {
    display: flex;
    height: 300px;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    margin: 10px;
}

.color {
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Adicione essa linha para posicionar o span */
    cursor: pointer;
    padding: 25px; /* Espaçamento entre a margem do background e a imagem */
}

.color img {
    max-width: 100%;
    max-height: 100%;
    transition: transform 0.3s ease-out; /* Adicione essa linha para efeito de escala */
}

.color span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.1s linear;
}

.color:hover {
    flex: 2;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.color:hover img {
    transform: scale(1.2); /* Adicione essa linha para aumentar a imagem */
}

.color:hover span {
    opacity: 1;
}

.h-color-light {
    color: white; /* Cor do texto */
    font-size: 24px; /* Tamanho da fonte */
    font-weight: bold; /* Peso da fonte */
    text-transform: uppercase; /* Transformar o texto em maiúsculas */
}

